.footer{
  background: rgb(233, 233, 233);
  padding: 0.5em;
  text-align: center;
  color: gray;
  cursor: pointer;
  height: 64px;

  p:hover{
    color: blue;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

}
