.nav{
  &--username{
    margin-right: 1em !important;
    margin-left: 1em !important;
  }

  &--links{
    list-style: none;
    display: flex;
    li>a{
      text-decoration: none;
      color: #fff;
      margin: 0 2em;
    }

    .active{
      font-weight: bold;
    }
  }
}